{{ partial "head.html" . }}
{{ partial "header.html" . }}

<body>
  {{ partial "sidebar.html" . }}
  {{ partial "menu.html" . }}
  {{ range sort .RegularPages "File.Path" }}
  <h1>{{ .Title }}</h1>
  {{ if isset .Params "img_head"}}
  <img src="{{ .Params.img_head | safeHTML | absURL }}" class="imgHead" />
  {{end }}

  {{ .Content }}
  {{ if isset .Params "img_foot"}}
  <img src="{{ .Params.img_foot | safeHTML | absURL }}" class="imgFoot" />
  {{end }}
  {{  end}}
</body>

{{ partial "footer.html" . }}