<head>
  <title>{{ .Title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ range .Params.Tags }}{{ . }},{{ end }}">
  <meta name="author" content="{{ .Params.author }}">
  {{ hugo.Generator }}
  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/style.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/development.css">
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/icons8-moto-30.png">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/css/uikit.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>