{{ partial "head.html" . }}
{{ partial "header.html" . }}

<body>
  {{ partial "menu.html" . }}
  <h1>{{ .Title }}</h1>
  <table>
    <tbody>
      {{ range sort .RegularPages "File.Path" }}
      {{ if .Params.draft }}
      <tr class="draft">
        {{else }}
      <tr>
        {{end }}
        <td><img src="{{ .Params.imgthumb | safeHTML }}" /></td>
        <td>
          <span><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
          {{ if isset .Params "img_head"}}
          <!-- <img src="{{ .Params.img_head | absURL }}" class="imgHead" /> -->
          {{end }}

          {{ if isset .Params "img_foot"}}
          <!-- <img src="{{ .Params.img_foot | absURL }}" class="imgFoot" /> -->
          {{end }}</td>
        <td>{{ .Date.Format "02/01/2006" }}</td>
        {{end}}
      </tr>
  </table>
</body> {{ partial "footer.html" . }}